/* Body styles */
body{
  background-color: grey;
  margin: 0;
  padding: 0;
}

/* Container styles */
.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color:wheat;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    background-color: green;
    text-align: start;
    margin: 0px;
    padding: 0px;
}

/* Form styles */
form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


